<navbar/>

<div class="container">
  <h2>Félög</h2>

  <div class="row">
    <div class="col-xs-4">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="org in orgs" href="/admin/org/{{ org._id }}/groups">{{org.name}}</a>
        <a class="list-group-item" ng-hide="addOrg" ng-click="addOrg =! addOrg">Bæta við <i class="fa fa-plus"></i></a>
          <span class="list-group-item" ng-show="addOrg">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="create.name">
                <span class="input-group-btn">
                  <button class="btn btn-primary" ng-click="createOrg(create)" type="button">bæta við!</button>
                </span>
            </div>
      </span>
      </div>
    </div>
    <div class="col-xs-8">
      <ui-view></ui-view>
    </div>
  </div>
</div>
