<navbar/>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Stillingar</h1>
		</div>
		<div class="col-xs-6">
			<div class="col-xs-10 col-xs-offset-2">
				<h3>Upplýsingar</h3>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-10">
					<h3>Breyta um lykilorð</h3>
				</div>
				<div class="col-xs-10">
					<form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

						<div class="form-group">
							<label>Núverandi Lykilorð</label>

							<input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
								   mongoose-error/>

							<p class="help-block" ng-show="form.password.$error.mongoose">
								{{ vm.errors.other }}
							</p>
						</div>

						<div class="form-group">
							<label>Nýtt lykilorð</label>

							<input type="password" name="newPassword" class="form-control"
								   ng-model="vm.user.newPassword"
								   ng-minlength="3"
								   required/>

							<p class="help-block"
							   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
								Password must be at least 3 characters.
							</p>
						</div>

						<p class="help-block"> {{ vm.message }} </p>

						<button class="btn btn-primary" type="submit">Vista breytingu</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Tengja við Facebook</h3>
				</div>
				<div class="col-xs-12">
					<a class="btn btn-facebook">
						<i class="fa fa-facebook"></i> Facebook
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
