<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title text-center">{{ event.name }}</h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-12 control-label">Upplýsingar:</label>

        <div class="col-sm-12">
          {{ event.info }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 control-label">Staðsetning:</label>

        <div class="col-sm-12">
          {{ event.location }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 control-label">Fjöldi:</label>

        <div class="col-sm-12">
          {{ event.limit }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 control-label">Skráning hefst: </label>

        <div class="col-sm-12" ng-if="event.startEventDate && event.showTimer">
          <div class="form-group">
            {{ event.startEventDate }}
            <br/>

            <strong>
              <timer countdown="event.countdownInSec" interval="1000" finish-callback="countdownFinished()">
                {{days}}
                dagar, {{hours}} klukkustundir, {{minutes}} mínútur, {{seconds}} sekúndur.
              </timer>
            </strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group text-center">
            <button class="btn btn-primary" ng-disabled="!event.enableRegistration" ng-hide="isRegistered()" ng-click="register()">Skrá sig</button>
            <button class="btn btn-danger" ng-disabled="!event.enableRegistration" ng-show="isRegistered()"  ng-click="deRegister()">Afskrá</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Gestir</h3>
    <ul>
      <li ng-repeat="attendee in event.attending">
        {{ attendee.name }} - {{ attendee.timestamp }}
      </li>
    </ul>
    <h3>Biðlisti</h3>
    <ul>
      <li ng-repeat="queuee in event.queue">
        {{ queuee.name }} - {{ queuee.timestamp }}
      </li>
    </ul>
  </div>
</div>
