<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create event</h1>
    </div>
    <div class="col-sm-12">
      <form role="form" ng-submit="createEvent(model)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" ng-model="model.name" id="name">
        </div>
        <div class="form-group">
          <label for="info">Lýsing</label>
          <textarea class="form-control" name="info" ng-model="model.info" id="info" cols="30" rows="10">
          </textarea>
        </div>
        <div class="form-group">
          <label for="location">Staðsetning</label>
          <input type="text" class="form-control" ng-model="model.location" id="location">
        </div>
        <div class="form-group">
          <label for="limit">Name</label>
          <input type="number" class="form-control" ng-model="model.limit" min="0" id="limit">
        </div>
        <div class="form-group col-xs-6">
          <label for="date">Dagsetning</label>
          <p class="input-group">
            <input type="text" id="date" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
        <div class="form-group col-xs-6">
          <timepicker ng-model="time" show-meridian="false"></timepicker>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
