<navbar/>

<header class="hero-unit" id="banner">
  <div class="container">
    <img style='height:250px;' src="assets/images/tviund.png" alt="Tviund logo">
    <p class="lead">Science trip signup system</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="event in awesomeThings">
        <li><a href="#" tooltip="{{event.info}}">{{event.name}}<button type="button" class="close" ng-click="deleteThing(event)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="event-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new event here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Made on the internet by
        <a href="https://twitter.com/koddsson">@koddsson</a> and <a href="https://github.com/snorrid">@snorrid</a>.
     </p>
  </div>
</footer>
